<h1>New Card for "<%= @deck.name.titleize %>"</h1>
<br><br>

<%= form_for @card, url: user_deck_cards_path(current_user, @deck, @card) do |f| %>
  <%= f.label :front %><br>
  <%= f.text_field :front %>
  <br><br>
  <%= f.label :back %><br>
  <%= f.text_field :back %>

  <%= f.submit %>
<% end %>
