<div id="deck-edit">
  <div class="text-right">
    <!-- buttons here -->
  </div>

  <h1 class="text-center">Editing <%= @deck.name %></h1>

  <%= form_for @deck, url: user_deck_path(current_user, @deck) do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <br>

    <%= f.text_area :cards_text, value: raw(Card.display_cards(@deck.cards)), class: 'form-control', style: "white-space: pre-line;", rows: 10 %>

    <br><br>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>