<!DOCTYPE html>
<html>
  <head>
    <title>PhlacheQard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: 'layouts/bootstrap' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container-fluid" style="padding: 15px;">
      <%= yield %>
    </div>
  </body>
</html>
